
<div class="row">
    <div class="col-md-6">

        <h1>Welcome</h1>
            <p>
                Hi user: @ViewData["user"], we have added an entry log of your login request
            </p>
    </div>
</div>