<div class="row">
    <div class="col-md-10">

        <h1>Events view</h1>
            <p>
                asdf
            </p>
    </div>
    <!--<div class="col-md-6">
        <h1>Map</h1>
        
    </div>-->
</div>

        <!--<div>
            <div id="map"></div>
        </div>-->



@section Scripts
{
    <script>
          function initMap() {
            var uluru = { lat: -25.363, lng: 131.044 };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
            });

            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv6kD82JDL8irzD2wAwIVhGijym_ySfI0&callback=initMap"></script>

}

@section CustomCss
{
 <style>
      #map {
        height: 400px;
        width: 100%;
       }
 </style>    
}
